<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.net>
		<settings>
			<servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
		</settings>
	</system.net>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
				<binding name="BasicHttpBinding_IService"  allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://serviciosdemo.reconoser.com.co:6300/Service.svc" binding="basicHttpBinding" behaviorConfiguration="DisableServiceCertificateValidation"
                bindingConfiguration="BasicHttpBinding_IService" contract="ServicioPrueba.IService"  
                name="BasicHttpBinding_IService" />
        </client>
	    <behaviors>
		    <endpointBehaviors>
			    <behavior name="DisableServiceCertificateValidation">
				    <clientCredentials>
					    <serviceCertificate>
						    <authentication certificateValidationMode="None"
						                    revocationMode="NoCheck" />
					    </serviceCertificate>
				    </clientCredentials>
			    </behavior>
		    </endpointBehaviors>
	    </behaviors>
    </system.serviceModel>
</configuration>